<h1>
  {{title}}
</h1>


<div>

  <input type="button" value="Get users" (click)="getUsers()">

  <input type="text" #key (keyup)="getValue(key.value)" >

</div>



<div class="col-xs-12" *ngIf="users?.length > 0">

  <div class="col-xs-6">
  <table border="1">
    <thead>
      <th>User Name</th>
      <th>Email</th>
      <th>Phone</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
              <td><a  routerLink='user/{user.id}' (click)="details.setUser(user.id)"> {{user.name}} </a></td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
        </tr>
    </tbody>
  </table>
  </div>
  <div class="col-xs-6">
    <app-user-details #details></app-user-details>
  </div>
</div>
