<h1>
  {{title}}
</h1>

<span i18n>hello welcome!!</span>


<div>
  {{todayDate.toLocaleString()}}
</div>

<div class="container">

  <h2>Login Form</h2>
  <form #loginForm="ngForm">

    <div class="form-group">
        <label>User Name</label>
        <input type="text" name="username" id="username" [(ngModel)]="user.username" required minlength="5" #name="ngModel">
        <div *ngIf="name.errors && (name.dirty || name.touched)" >
            <div class="alert alert-danger" *ngIf="name.errors.required">User Name is required.</div>
           <div class="alert alert-danger" *ngIf="name.errors.minlength">User Name is chars should be minimum of 5.</div>
        </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="text" name="password" id="password" [(ngModel)]="user.password" required #pwd="ngModel">
      <div *ngIf="pwd.errors && (pwd.dirty || pwd.touched)" >
        <div class="alert alert-danger" *ngIf="pwd.errors.required">Password is required.</div>
      </div>
      </div>
  </form>
  <div>
    <input type="button" value="submit" [disabled]="loginForm.invalid">
  </div>
</div>
